<% provide(:title, @user.name) %>
<%= @user.email %>
<div class='row'>
  <aside class='col-md-2'>
    <section class='user-info'>
	  <h1>
	    <%= gravatar_for @user %>
	    <%= @user.name %>
	  </h1>
	</section>
  </aside>
</div>
