<% provide(:title, @user.name) %>
<div class='row'>
  <aside class='col-md-2'>
    <section class='user-info'>
	    <%= gravatar_for @user %>
	    <%= @user.name %>
      <%= @user.email %>
	</section>
  </aside>
</div>
